.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: medium;
}

textarea {
  resize: none;
}
